openapi: 3.0.3
info:
  title: Hibernate Core Session Management API
  description: |
    Core Hibernate ORM session management and persistence operations.
    
    This documentation represents the main Java APIs for Hibernate Session, SessionFactory, 
    and Transaction management as OpenAPI specifications for comprehensive API documentation.
    
    **Note**: These are Java method APIs, not actual REST endpoints.
  version: "7.0.0"
  contact:
    name: Hibernate Team
    url: https://hibernate.org
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://api.hibernate.orm/v7
    description: Hibernate ORM API (conceptual)

tags:
  - name: SessionFactory
    description: Factory for creating and managing Hibernate sessions
  - name: Session
    description: Main runtime interface for persistence operations
  - name: Transaction
    description: Transaction management operations
  - name: Entity Operations
    description: CRUD operations on persistent entities

paths:
  /session-factory:
    post:
      tags: [SessionFactory]
      summary: Create a new session factory
      description: Creates a SessionFactory instance from configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionFactoryConfiguration'
      responses:
        '201':
          description: SessionFactory created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionFactory'
        '400':
          description: Invalid configuration

  /session-factory/{factoryId}/session:
    post:
      tags: [SessionFactory]
      summary: Open a new session
      description: Creates a new Session instance from the SessionFactory
      parameters:
        - name: factoryId
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Session created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'

  /session-factory/{factoryId}/current-session:
    get:
      tags: [SessionFactory]
      summary: Get current session
      description: Retrieves the current contextually-bound session
      parameters:
        - name: factoryId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Current session retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '404':
          description: No current session available

  /session/{sessionId}/entity:
    post:
      tags: [Entity Operations]
      summary: Persist entity
      description: Make a transient instance persistent
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Entity'
      responses:
        '201':
          description: Entity persisted successfully
        '400':
          description: Invalid entity state

    put:
      tags: [Entity Operations]
      summary: Merge entity
      description: Copy state of detached instance to persistent instance
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Entity'
      responses:
        '200':
          description: Entity merged successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'

  /session/{sessionId}/entity/{entityType}/{id}:
    get:
      tags: [Entity Operations]
      summary: Find entity by ID
      description: Retrieve an entity instance by its identifier
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
        - name: entityType
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: lockMode
          in: query
          schema:
            $ref: '#/components/schemas/LockModeType'
      responses:
        '200':
          description: Entity found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
        '404':
          description: Entity not found

    delete:
      tags: [Entity Operations]
      summary: Remove entity
      description: Remove a persistent instance from the datastore
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
        - name: entityType
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Entity removed successfully
        '404':
          description: Entity not found

  /session/{sessionId}/entity/{entityType}/{id}/refresh:
    post:
      tags: [Entity Operations]
      summary: Refresh entity
      description: Refresh the state of the instance from the database
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
        - name: entityType
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Entity refreshed successfully

  /session/{sessionId}/transaction:
    post:
      tags: [Transaction]
      summary: Begin transaction
      description: Begin a new transaction associated with the session
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Transaction started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'

  /session/{sessionId}/transaction/commit:
    post:
      tags: [Transaction]
      summary: Commit transaction
      description: Commit the current transaction
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Transaction committed successfully
        '400':
          description: No active transaction or transaction failed

  /session/{sessionId}/transaction/rollback:
    post:
      tags: [Transaction]
      summary: Rollback transaction
      description: Roll back the current transaction
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Transaction rolled back successfully

  /session/{sessionId}/flush:
    post:
      tags: [Session]
      summary: Flush session
      description: Force session to flush (synchronize with database)
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Session flushed successfully

  /session/{sessionId}/clear:
    post:
      tags: [Session]
      summary: Clear session
      description: Remove all objects from the session cache
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Session cleared successfully

  /session/{sessionId}/close:
    delete:
      tags: [Session]
      summary: Close session
      description: End the session by releasing the JDBC connection and cleaning up
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Session closed successfully

components:
  schemas:
    SessionFactoryConfiguration:
      type: object
      properties:
        hibernateProperties:
          type: object
          additionalProperties:
            type: string
        mappingResources:
          type: array
          items:
            type: string
        annotatedClasses:
          type: array
          items:
            type: string

    SessionFactory:
      type: object
      properties:
        factoryId:
          type: string
        openSessionsCount:
          type: integer
        statistics:
          $ref: '#/components/schemas/Statistics'
        cache:
          $ref: '#/components/schemas/Cache'

    Session:
      type: object
      properties:
        sessionId:
          type: string
        isOpen:
          type: boolean
        isConnected:
          type: boolean
        flushMode:
          $ref: '#/components/schemas/FlushModeType'
        cacheMode:
          $ref: '#/components/schemas/CacheMode'
        defaultReadOnly:
          type: boolean
        transaction:
          $ref: '#/components/schemas/Transaction'

    Transaction:
      type: object
      properties:
        transactionId:
          type: string
        isActive:
          type: boolean
        status:
          $ref: '#/components/schemas/TransactionStatus'
        rollbackOnly:
          type: boolean

    Entity:
      type: object
      properties:
        entityType:
          type: string
        id:
          type: object
        version:
          type: object
        properties:
          type: object
          additionalProperties: true

    LockModeType:
      type: string
      enum:
        - NONE
        - READ
        - WRITE
        - OPTIMISTIC
        - OPTIMISTIC_FORCE_INCREMENT
        - PESSIMISTIC_READ
        - PESSIMISTIC_WRITE
        - PESSIMISTIC_FORCE_INCREMENT

    FlushModeType:
      type: string
      enum:
        - AUTO
        - COMMIT
        - MANUAL

    CacheMode:
      type: string
      enum:
        - NORMAL
        - IGNORE
        - GET
        - PUT
        - REFRESH

    TransactionStatus:
      type: string
      enum:
        - ACTIVE
        - COMMITTED
        - ROLLED_BACK
        - MARKED_ROLLBACK
        - NOT_ACTIVE

    Statistics:
      type: object
      properties:
        sessionOpenCount:
          type: integer
        sessionCloseCount:
          type: integer
        transactionCount:
          type: integer
        queryExecutionCount:
          type: integer

    Cache:
      type: object
      properties:
        regionNames:
          type: array
          items:
            type: string
        evictAllRegions:
          type: boolean